.myAlert {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.myAlert.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color-transparent);
  z-index: 99999;
}
.content {
  padding: 25px;
  background-color:var(--white);
  border-radius: 5px;
  width: 350px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .content {
    width: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .content {
    width: 250px;
    text-align: center;
  }
}
