.footer_social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  margin-bottom: 10px;
}

.footer_ccDetails {
  width: 68px;
  height: 22px;
  margin-left: auto;
  margin-bottom: 30px;
}


@media screen and (max-width: 500px) {
  .icon-twitter,
  .icon-instagram,
  .icon-facebook-squared,
  .icon-menu {
    font-size: 20px;
  }
}
