.shopItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopItem_details {
  margin-top: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: end;
}

.shopItem_details_sizes {
  display: flex;
  flex-direction: row;
}

.size_btn {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  margin: 7px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.shopItem_image img {
  width: 500px;
  margin: 0;
  padding: 0;
}
.shopItem_image {
  margin-right: 50px;
}
.size_btn:hover,
.size_btn_acive {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  margin: 7px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.alert {
  height: 50px;
  width: 200px;
  font-size: 15px;
  margin-bottom: 30px;
}
.redAlert {
  font-size: 15px;
  height: 50px;
  width: 200px;
  color: var(--green-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .shopItem {
    display: block;
  }

  .shopItem_image {
    margin: 0px;
  }

  .shopItem_image img {
    width: 100%;
    margin: 0 auto;
  }

  .shopItem_details {
    margin-top: 10px;
    height: 250px;
    align-items: center;
  }

  .alert {
    line-height: 20px;
    text-align: center;
  }
  .redAlert {
    line-height: 20px;
    text-align: center;
  }
}
