.footer {
  width: 100%;
  background-color: var(--yellow-color);
  z-index: 12;
}
.container {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

@media screen and (max-width: 1290px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    height: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-top: 30px;
  }

  .footer p,
  .footer a {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
