/* Обнуление стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}
li {
  list-style-type: none; /* Убираем маркеры */
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  transition: 0.5s;
}
html {
  height: 100%;
}

body {
  margin: 0;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Цвета*/
:root {
  --green-color: #6e9c9f;
  --yellow-color: #f1eadc;
  --white: #ffffff;
  --black: #000000;
  --grey: #998e78;
}
/* Иконки */
@font-face {
  font-family: "fontello";

  src: url("./img/icons/fontello.eot?32253971");
  src: url("./img/icons/fontello.eot?32253971#iefix")
      format("embedded-opentype"),
    url("./img/icons/fontello.woff2?32253971") format("woff2"),
    url("./img/icons/fontello.woff?32253971") format("woff"),
    url("./img/icons/fontello.ttf?32253971") format("truetype"),
    url("./img/icons/fontello.svg?32253971#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-outline:before {
  content: "\e801";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-menu:before {
  content: "\f0c9";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-facebook-squared:before {
  content: "\f308";
} /* '' */

.icon-twitter,
.icon-instagram,
.icon-facebook-squared,
.icon-menu,
.icon-phone-outline {
  color: var(--green-color);
  font-size: 20px;
  transition: 0.5s;
}

.icon-phone-outline:hover,
.icon-twitter:hover,
.icon-instagram:hover,
.icon-facebook-squared:hover,
.icon-menu:hover {
  color: var(--white);
  background-color: var(--green-color);
  cursor: pointer;
}

/* Шрифт Raleway*/
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./img/fonts/raleway-v28-latin_cyrillic-regular.eot");
  src: local(""),
    url("./img/fonts/raleway-v28-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./img/fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"),
    url("./img/fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"),
    url("./img/fonts/raleway-v28-latin_cyrillic-regular.ttf") format("truetype"),
    url("./img/fonts/raleway-v28-latin_cyrillic-regular.svg#Raleway")
      format("svg");
}

/* Общие настройки */
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
a,
p {
  color: var(--black);
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 1290px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* React styles */
.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
