.footer{
    display: flex;
    flex-direction: column;
  }
  .footer_logo {
    margin-bottom: 30px;
  }
  
  .footer_text {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 500px) {
    .footer_logo {
      margin-bottom: 10px;
    }
    p {
      font-size: 10px;
      line-height: 10px;
    }
  }
  